/* App styles */

/***************************************
* Colors for website
* ----------------------------
* Primary: #B20300
* Secondary: #00B238
* Tertiary: #00FF50
*
***************************************/
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  color: #00B238;
  background: #B20300;
}

header {
  background: linear-gradient(#000, #B20300);
  text-align: center;
}

header h1 {
  font-family: 'Lobster', cursive;
}

footer {
  background: linear-gradient(#B20300, #000);
  text-align: center;
  position: fixed;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
}

header h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

header strong {
  font-weight: bold;
}

canvas {
  margin-bottom: 50px;
  border: 2px #00B238 solid;
}

#image_container {
  padding-top: 100px;
  text-align: center;
}

#image_container img {
  max-width: 300px;
  max-height: 200px;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
  opacity: .8;
}


#image_container img:hover {
  opacity: 1;
  cursor: pointer;
}

#progress {
  text-align: center;
}

#image_container p {
  color: #00FF50;
  margin-top: 10px;
  margin-bottom: 10px;
}

#chart_container {
  display: none;
  margin-bottom: 60px;
  max-width: 960px;
  margin: 0 auto;
}
